.Avatar {
  position: relative;
  overflow: hidden;
}

.Avatar_image {
  position: absolute;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  background-color: var(--light-gray);
}

.Avatar circle {
  transition: stroke-dashoffset 0.35s;
}

.Avatar.empty {
  background: var(--middle-gray);
  border-radius: 50%;
}
