.Day {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 5rem;
  min-width: 90px;
  background: rgb(236, 220, 205);
  margin: 2px;
}

.Day:hover {
  background: rgb(248, 248, 248);
}

.Day_no_minutes {
  background: rgb(231, 238, 241);
}

.Day_date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  color: var(--black);
  font-size: 85%;
  pointer-events: none;
}

.Day_number {
  flex: 1;
  text-align: right;
  margin: 0.25rem;
}

.Day_month {
  text-transform: uppercase;
  font-weight: bold;
  font-size: smaller;
  margin: 0.1rem;
  color: var(--red);
}

.Day_minutes {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_is_future {
  background-color: rgb(255, 255, 255);
}

.Day_is_today {
  background-color: #f2d398;
}

.Day_link {
  color: var(--black);
  text-decoration: none;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_link:hover {
  color: var(--accent);
}

.firstNote {
  position: absolute;
  top: 17px;
  left: 5px;
  height: 8px;
  min-width: 60px;
  border-radius: 8px;
  background-color: rgb(149, 51, 142);
}

.secondNote {
  position: absolute;
  top: 28px;
  left: 5px;
  height: 8px;
  min-width: 60px;
  border-radius: 8px;
  background-color: rgb(176, 60, 168);
}

.thirdNote {
  position: absolute;
  top: 38px;
  left: 5px;
  height: 8px;
  min-width: 60px;
  border-radius: 8px;
  background-color: rgb(179, 63, 170);
}

.fourthNote {
  position: absolute;
  top: 49px;
  left: 5px;
  height: 8px;
  min-width: 60px;
  border-radius: 8px;
  background-color: rgb(206, 73, 196);
}

.fifthNote {
  position: absolute;
  top: 60px;
  left: 5px;
  height: 8px;
  min-width: 60px;
  border-radius: 8px;
  background-color: rgb(230, 82, 218);
}

.more {
  position: absolute;
  top: 55px;
  left: 20px;
  font-size: large;
}
