@font-face {
  font-family: Montserrat;
  src: url(./../../utils/Montserrat-Regular.ttf);
}

.Day {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 6.5rem;
  min-width: 80px;
  max-width: 150px;
  background: #fbc26d;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.Day:hover {
  background: #ebad50;
}

.Day_no_minutes {
  background: #ebad50;
}

.Day_date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  color: white;
  font-size: 85%;
  pointer-events: none;
}

.Day_number {
  flex: 1;
  text-align: right;
  margin: 0.25rem;
}

.Day_month {
  flex: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 1rem;
  color: white;
  font-family: Montserrat;
}

.Day_minutes {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_is_future {
  background-color: #fbc26d;
}

.Day_is_today {
  background-color: #e89c2b;
}

.Day_link {
  font-family: Montserrat;
  color: white;
  text-decoration: none;
  flex: 1;
  font-size: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_link_one_post {
  font-family: Montserrat;
  background-color: #7dcca3;
  color: white;
  text-decoration: none;
  flex: 1;
  font-size: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_link_one_post:hover {
  background-color: #59bd89;
}

.Day_link_two_and_more_posts {
  font-family: Montserrat;
  background-color: #2acab7;
  color: white;
  text-decoration: none;
  flex: 1;
  font-size: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_link_two_and_more_posts:hover {
  background-color: #098b7c;
}

.Day_link_today {
  font-family: Montserrat;
  color: white;
  background-color: #e89c2b;
  text-decoration: none;
  flex: 1;
  font-size: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day_link_today:hover {
  background-color: #c0801f;
}

.Day_link:hover {
  color: var(--accent);
}
