@font-face {
  font-family: Montserrat;
  src: url(./../../utils/Montserrat-Regular.ttf);
}

.Weekdays {
  width: 80%;
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.Weekdays > * {
  text-transform: uppercase;
  flex: 1;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #e89c2b;
  font-size: 85%;
  font-family: Montserrat;
}

@media screen and (max-width: 768px) {
  .Weekdays {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .Weekdays {
    width: 100%;
    margin: 0px;
  }
}
