@font-face {
  font-family: Montserrat;
  src: url(./../utils/Montserrat-Regular.ttf);
}

.TopBar {
  background: var(--transparent-white);
  border-bottom: solid 1px var(--middle-gray);
  padding: 0.25rem 0.75rem;
}

.TopBar_inner {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Account {
  display: flex;
  align-items: center;
}

.Account > * {
  margin: 0 0.25rem;
}

.Account_logout {
  margin-left: 1rem;
}

.Account_user_name {
  font-weight: bold;
  font-family: Montserrat;
  color: #c8553d;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}
